# Exclude settings files and directories (e.g.: Eclipse)
\.*/
\.*

# Keep .gitignore file
!\.gitignore

# Exclude modules folder except placeholder file
modules/*
!modules/installed\ osgi\ modules\ folder

# Exclude data folder except placeholder file
data/*
!data/mounted\ data\ directory

